:root {
    --azul: #0D3B66;
    --verde-claro: #6AB547;
    --verde-claro2: #afe994;
    --branco: #EBEBEB;
    --verde-escuro: #17301c;
    --verde-medio: #26532b;
}

[data-tema="escuro"] {
    --azul: #0D3B66;
    --verde-claro: #6AB547;
    --verde-claro2: #afe994;
    --branco: #EBEBEB;
    --verde-escuro: #17301c;
    --verde-medio: #26532b;;
}

