main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(60deg, var(--verde-claro2), var(--verde-claro), var(--verde-claro2));
    background-size: 400% 400%;
    animation: background-animation 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-main {
    width: 80vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    background-color: var(--branco-transparente);
    border-radius: 20px;
    overflow: hidden;
}

form button {
    margin: 2em 0 0 0;
    width: 100%;
    height: 2em;
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
    border: none;
    border-radius: 1em;
    font-family: passion;
    font-size: 1.2em;
    transition: .4s ease-in-out;
}

form button:hover {
    background-color: var(--verde-escuro3);
    color: var(--branco);
    cursor: pointer;
}

fieldset {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 58px;
}

input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 234px;
    opacity: .5;
    color: var(--cor-base);
    background-color: var(--cor-secundaria);
    font-weight: bolder;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 1.2rem .5rem .5rem;
    height: 2.75rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: 1.4em;
}

input:placeholder-shown {
    font-family: passion;
}

.kaiq {
    width: 234px;
    position: absolute;
    top: 30px;
    left: 58px;
}

.querobel {
    position: absolute;
    width: 27px;
    top: 14px;
    left: 191px;
    opacity: 0;
    transition: 1.5s ease-in-out;
}

.querobel-ativo {
    animation: querobel-animation 1.5s ease-in-out;
    top: 34px;
    opacity: 1;
}

@keyframes querobel-animation {
    0% {
        top: 14px;
        opacity: 0;
    }

    80% {
        top: 36px;
        opacity: 1;
    }

    100% {
        top: 34px;
        opacity: 1;
    }
}

.trace1 {
    position: absolute;
    top: 30px;
    left: -200px;
    border-radius: 5px;
    width: 200px;
    height: 2px;
    background-color: #0D3B66;
    transition: 1.5s ease-in-out;
    opacity: 0;
}

.trace2 {
    position: absolute;
    top: 103.63px;
    left: -200px;
    border-radius: 5px;
    width: 234px;
    height: 2px;
    background-color: #0D3B66;
    transition: 1s ease-in-out;
    opacity: 0;
}

.doble-trace-ativo {
    left: 58px;
    opacity: 1;
}

.trace3 {
    position: absolute;
    top: 102px;
    left: 58px;
    border-radius: 5px;
    width: 234px;
    height: 2px;
    background-color: #0D3B66;
    transition: 1s ease-in-out;
    opacity: 0;
}

.trace3-ativo {
    top: 120px;
    opacity: 1;
}

.tag {
    position: absolute;
    width: 100px;
    left: 125px;
    top: 108px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.tag-ativo {
    opacity: 1;
    width: 234px;
    left: 58px;
}



@keyframes background-animation {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}