body {
    background-color: var(--verde-claro);
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 5px;
    border: 1px solid var(--verde-escuro);
    z-index: 10;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--verde-escuro2);
    border-radius: 5px;
    z-index: 1;
}

.trocaTema {
    position: absolute;
    top: 10vh;
    left: 2vw;
    width: 6vw;
    height: 2em;
    background-color: var(--branco);
    color: var(--verde-escuro2);
    border: none;
    border-radius: 1em;
    font-family: passion;
    font-size: 1.2em;
    transition: .4s ease-in-out;
}

.trocaTema:hover {
    cursor: pointer;
    background-color: var(--verde-medio);
    color: var(--branco);
}

header {
    height: 5vh;
    width: 100vw;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.header-logo {
    height: 4.5vh;
    top: 0.25vh;
    transition: .3s;
}

.header-logo:hover {
    height: 4.8vh;
    cursor: pointer;
    transition: .3s;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 0 0 0 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: var(--verde-escuro2);
    font-family: 'Passion One', cursive;
    font-size: 1.2rem;

}

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(60deg, var(--verde-claro2), var(--verde-claro), var(--verde-claro2));
    background-size: 400% 400%;
    animation: background-animation 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-main {
    width: 80vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
}

.wrapper-form {
    background-color: var(--branco);
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.wrapper-form h2 {
    margin: 0 0 .5em 0;
    color: var(--verde-escuro2);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button {
    margin: 2em 0 0 0;
    width: 25%;
    height: 2em;
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
    border: none;
    border-radius: 1em;
    font-family: passion;
    font-size: 1.2em;
    transition: .4s ease-in-out;
}

form button:hover {
    background-color: var(--verde-escuro3);
    color: var(--branco);
    cursor: pointer;
}

fieldset {
    font-family: passion;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

input:placeholder-shown {
    font-family: passion;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container__inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}

#nome, #peso, #altura, #gorduraCorporal {
    opacity: .5;
    color: var(--cor-base);
    background-color: var(--cor-secundaria);
    font-weight: bolder;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 1.2rem .5rem .5rem;
    height: 2.75rem;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: 1.4em;
    margin: .7em 0 0 0;
}

.wrapper-table {
    position: absolute;
    top: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Passion;
}

.form-busca {
    margin-bottom: 12px;
    width: 100%;
}

#buscaAluno {
    opacity: .8;
    color: var(--cor-base);
    background-color: #fff;
    font-weight: bolder;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 1.2rem .5rem .5rem;
    height: 2.75rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: 1.4em;
}

table {
    margin-bottom: 7vh;
}

h2 {
    font-size: 2rem;
    font-family: Piepie;
    margin: 0 0 .5rem 0;
    color: var(--verde-escuro);
}

table{
	width: 100%;
    table-layout: fixed;
}

td, th {
	padding: .7rem;
	border: 1px solid var(--verde-escuro);
	text-align: center;
    font-size: 1.2rem;
    color: #17301c;
}

th {
	font-weight: bold;
    background-color: var(--branco-transparente);
    font-size: 1.5rem;
    color: var(--verde-escuro2);
}

.fade-out {
    opacity: 0;
    transition: .5s;
    display: hidden;
}

.dadoInvalido {
    background-color: rgb(236, 103, 103);
}


footer {
    position: fixed;
    top: 95vh;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
}

footer p {
    font-family: Piepie;
    font-size: 1.5rem;
    letter-spacing: 18px;
    color: var(--verde-escuro2);
    z-index: 9998;
}

.palpite-saudavel {
    background-color: rgb(57, 179, 0);
}

.palpite-insaudavel {
    background-color: rgb(208, 226, 42);
}

.palpite-muito-insaudavel {
    background-color: rgb(226, 70, 42);
}

.invisivel {
    display: none;
}

.busca {
    width: 200px;
    margin: 0 0 2em 0;
    height: 1.2em;
    background-color: var(--branco);
    color: var(--verde-escuro3);
    border: none;
    border-radius: 1em;
    font-family: passion;
    font-size: 1.2em;
    transition: .4s ease-in-out;
}

.busca:hover {
    background-color: var(--verde-escuro3);
    color: var(--branco);
    cursor: pointer;
}







@keyframes background-animation {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}